
<ion-content padding>
  <ion-slides [options]="slideOptions">
    <ion-slide *ngIf="firstVisit">
      <ion-toolbar>
        <ion-buttons end>
          <button ion-button class="skip-button" (click)="continue()">Skip</button>
        </ion-buttons>
      </ion-toolbar>
      <ion-icon class="happy" name="happy"></ion-icon>
      <h1>Hello!</h1>
      <p>
        Welcome to Progress. Swipe to the next slide for a quick introduction.
      </p>
    </ion-slide>
    <ion-slide>
      <ion-toolbar>
        <ion-buttons end>
          <button ion-button class="skip-button" (click)="continue()">Skip</button>
        </ion-buttons>
      </ion-toolbar>
      <ion-icon class="create" name="create"></ion-icon>
      <h1>Create tasks</h1>
      <p>
        Each task can contain subtasks and notes that make it easy for you to break down what you need to do.
      </p>
    </ion-slide>
    <ion-slide>
      <ion-toolbar>
        <ion-buttons end>
          <button ion-button class="skip-button" (click)="continue()">Skip</button>
        </ion-buttons>
      </ion-toolbar>
      <ion-icon class="star" name="star"></ion-icon>
      <h1>Progress</h1>
      <p>
        Every time you complete a task, you earn some progress points. The more you break down your tasks, the more points you earn!  
      </p>
    </ion-slide>
    <ion-slide>
      <ion-toolbar>
        <ion-buttons end>
          <button ion-button class="skip-button" (click)="continue()">Skip</button>
        </ion-buttons>
      </ion-toolbar>
      <ion-icon class="stats" name="stats"></ion-icon>
      <h1>Stats</h1>
      <p>
        Check your stats to see your current level, total points and how many tasks you've completed.
      </p>
    </ion-slide>
    <ion-slide>
      <ion-toolbar>
      </ion-toolbar>
      <ion-icon class="checkbox" name="checkbox"></ion-icon>
      <h1>Let's get things done!</h1>
      <button ion-button clear class="done" (click)="continue()">Continue</button>
    </ion-slide>
  </ion-slides>
</ion-content>
