page-about {
    .toolbar-background {
        background: transparent;
        border-color: transparent;
    }

    .skip-button {
        color: #000;
    }

    .slide-zoom {
        height: 100%;
    }

    h1 {
        margin-top: 2.8rem;
    }

    ion-icon {
        max-height: 50%;
        max-width: 60%;
        font-size: 8em;
        margin: 18px 0;
    }

    .happy {
        color: $color-brown;
    }

    .create {
        color: $color-green;
    }

    .star {
        color: $color-gold;
    }

    .stats {
        color: $color-red;
    }

    .checkbox {
        color: color($colors, primary);
    }

    p {
        padding: 0 40px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
    }

    .done {
        margin: 4rem 0;
        font-size: 18px;
    }
}
