<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-input #username placeholder="Username ..." class="title task-title" (blur)="userNameBlurred(username.value)" value="{{this.progressProvider.userName}}"></ion-input>
  <hr class="divider">
  <div class="stats-table">
    <div class="stats-row">
      <div class="stat-container">
        <div>
          <p class="gray stat-title">Tasks</p>
          <p class="stat-value">{{this.progressProvider.doneTasks}}</p>
        </div>
      </div>
      <div class="stat-container">
        <div>
          <p class="gray stat-title">Level</p>
          <p class="stat-value">{{this.progressProvider.playerLevel}}</p>
        </div>
      </div>
      <div class="stat-container">
        <div>
          <p class="gray stat-title">Points</p>
          <p class="stat-value">{{this.progressProvider.progressPoints}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="current-progress">
    <p class="gray">Current progress</p>
    <progress-indicator></progress-indicator>
  </div>
  <button ion-button block color="danger" class="clear-userdata" (click)="clearClicked()">Clear userdata</button>
</ion-content>
