page-profile {

	.title {
		font-size: $font-size-title-biggest;
		.text-input {
			margin: 0;
			text-align: center;
			padding: 0 8px;
		}
	}

	.gray {
		color: $toolbar-background;
	}

	.stats-table {
		margin: 40px 0;

		.stats-row {
			padding: 0 10%;
			white-space: nowrap;
			display: flex;
			justify-content: space-between;

			.stat-container {
				transition: all 200ms linear;

				div {
					text-align: center;

					p {
						margin: 0;
					}

					.stat-title {
						margin: 0 0 5px 0;
					}

					.stat-value {
						font-size: $font-size-title-bigger;
					}
				}
			}
		}
	}

	.current-progress {
		text-align: center;
	}

	.clear-userdata {
		width: 90%;
		margin: 5px 5%;
		position: absolute;
		bottom: 10px;
		left: 0;
	}
}
