page-home {
    .empty {
        width: 100%;
        margin: 10% 0;
        text-align: center;
        .done-all {
            font-size: 7em;
            color: $color-checked;
        }

        h3 {
            color: $color-checked;
            margin: 0 0 10px 0;
        }

        p {
            width: 75%;
            margin: auto;
            color: $color-checked;
        }
    }

    .list-item {
        .task-checked {
            color: $color-checked;
        }
    }
}
