<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-buttons end *ngIf="this.taskProvider.tasks.length > 0">
			<button ion-button icon-only *ngIf="!editmode" (click)="editTapped()">edit</button>
      <button ion-button *ngIf="editmode" (click)="editTapped()">Done</button>
		</ion-buttons>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="empty" *ngIf="this.taskProvider.tasks.length <= 0">
    <ion-icon name="done-all" class="done-all"></ion-icon>
    <h3>No tasks?</h3>
    <p>Press the button in the lower right corner to add one!</p>
  </div>
  <ion-list no-lines *ngIf="this.taskProvider.tasks.length > 0" reorder="{{editmode && this.taskProvider.tasks.length > 1}}" (ionItemReorder)="reorderItems($event)">
    <ion-item class="list-item" *ngFor="let task of this.taskProvider.tasks">
      <ion-icon item-left name="checkbox" class="icon task-checked" *ngIf="task.done && !editmode" (click)="checkboxTapped(task)"></ion-icon>
      <ion-icon item-left name="square-outline" class="icon" *ngIf="!task.done && !editmode" (click)="checkboxTapped(task)"></ion-icon>
      <ion-icon item-left name="close" class="icon" [class.task-checked]="task.done" *ngIf="editmode" (click)="removeTapped(task)"></ion-icon>
      <ion-label [class.task-checked]="task.done" (click)="taskTapped(task)" (press)="taskOptions(task)">{{task.title}}</ion-label>
      <p item-right *ngIf="editmode && this.taskProvider.tasks.length < 2 || !editmode" (click)="taskTapped(task)" (press)="taskOptions(task)">{{task.points}}p</p>
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="createTapped()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <progress-indicator></progress-indicator>
  </ion-toolbar>
</ion-footer>