page-creator {

    font-size: $font-size-standard;

    .task-header {
        margin: 10px 0 0;
        .task-title {
            input {
                margin: 0;
            }
        }
    }

    .notes-divider {
        margin: 20px 0;
    }
}
