<ion-header>

	<ion-navbar>
		<ion-title>Create task</ion-title>
		<ion-buttons end>
			<button ion-button (click)="saveTapped(title.value, notes.value)">Save</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>

<ion-content padding>
	<div class="task-header">
		<ion-item class="list-item">
			<ion-input #title placeholder="Title ..." class="title task-title"></ion-input>
			<p item-right>{{this.points}}p</p>
		</ion-item>
		<hr class="divider">
	</div>

	<ion-list no-lines reorder="true" (ionItemReorder)="reorderItems($event)">
		<ion-item class="list-item list-item-ios" *ngFor="let subtask of this.subtasks">
			<ion-icon class="icon" item-left name="close" (click)="removeSubtask(subtask)"></ion-icon>
			<ion-textarea fz-elastic #updatedItem class="list-item-textarea" placeholder="Item ..." (blur)="changeSubtask(subtask, updatedItem.value)" value="{{subtask.title}}"></ion-textarea>
		</ion-item>
	</ion-list>

	<ion-item class="list-item list-item-ios">
		<ion-icon class="icon" item-left name="add" (click)="addSubtask(item.value)"></ion-icon>
		<ion-textarea fz-elastic #item class="list-item-textarea" placeholder="{{listItemPlaceholder}}" (focus)="inputFocused()" (blur)="inputBlurred(item)" (keyup.enter)="enterTapped(item)"></ion-textarea>
	</ion-item>

	<hr class="divider notes-divider">
	<ion-textarea fz-elastic #notes class="notes" placeholder="Type in your other notes here ..."></ion-textarea>
</ion-content>