// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:                  #000;
$background-color:            #fff;
$toolbar-background:          #444;
$toolbar-ios-border-color:    #333;

// fonts

$font-size-title-biggest:     30px;
$font-size-title-bigger:      25px;
$font-size-title-standard:    20px;

$font-size-bigger:            20px;
$font-size-standard:          17px;
$font-size-smaller:           15px;
$font-size-smallest:          13px;

$bar-button-size-standard:     1.8em;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #03a9f4,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B
);

$color-divider-standard:          rgba(#000, 0.3);
$color-checked:                   #999;
$color-progressbar-background:    rgba(#000, 0.2);
$color-gold:                      #ffd700;
$color-green:                     #4caf50;
$color-red:                       #F44336;
$color-brown:                     #795548;
$text-input-md-highlight-color:     transparent;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
