// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.menu-header {
    background-color: $toolbar-background;
    .menu-profile-button {
        width: 100%;
        height: 100px;
        ion-icon {
            font-size: 5em;
        }
    }
}

.created-by {
    position: absolute;
    bottom: 0;
    left: 15px;
    font-size: $font-size-smallest;
}

ion-content {

    .title {
        font-size: $font-size-title-standard;
        .text-input {
            margin: 0;
            padding: 0;
        }
    }

    p {
        font-size: $font-size-standard;
    }

    .text-input {
        margin: 13px 0;
        &:disabled {
            opacity: 1;
        }
    }

    ion-list {
        margin: 0 !important;
    }

    .list-item {
        font-size: $font-size-standard;
        padding: 0 0 0 8px;

        .item-inner {
            border: none !important;
        }

        .icon.icon-md {
            margin: 11px 0 10px 0;
        }

        p {
            font-size: $font-size-smaller;
            color: $color-checked;
        }
    }

    .list-item-ios {
        .icon-ios {
            margin-top: 11px;
        }
    }

    .divider {
        margin: 5px 0 20px 0;
        background-color: $color-divider-standard;
        height: 1px;
    }

    .notes {
		font-size: $font-size-standard;
		:first-child {
				margin: 13px 8px 13px 8px;
		}
	}
}