<ion-menu [content]="content">
    <ion-content>
        <div class="menu-header">
            <button class="menu-profile-button" ion-button clear (click)="pageTapped(profilePage)">
                <ion-icon name="contact"></ion-icon>
            </button>
        </div>
        <ion-list>
            <button ion-item *ngFor="let page of pages" (click)="pageTapped(page)">
                {{page.title}}
            </button>
        </ion-list>
        <p class="created-by">Created by Felix Olofsson</p>
    </ion-content>
</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>