progress-indicator {

    .bar {
        height: 7px;
        border-radius: 7px;
    }

    .progress-bar {
        background-color: $color-progressbar-background;
        width: 95%;
        margin: auto;
        box-shadow: inset 0 1px 3px rgba(#000, 0.3);

        .progress-current {
            background-color: color($colors, primary);
        }
    }
}
