<ion-header>

  <ion-navbar>
    <ion-title>Details</ion-title>
    <ion-buttons end>
			<button ion-button (click)="editmodeTapped()">
        {{editButtonText}}
      </button>
		</ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  
  <div class="task-header">
    <ion-item class="list-item">
      <ion-input #title [disabled]="notEditable" placeholder="Title ..." class="title task-title" (blur)="changeText('title', title.value)" value="{{taskDetails.title}}"></ion-input>
			<p item-right>{{taskDetails.points}}p</p>
		</ion-item>
    <hr class="divider">
  </div>

  <ion-list no-lines reorder="{{!notEditable}}" (ionItemReorder)="reorderItems($event)">
		<ion-item class="list-item list-item-ios" *ngFor="let subtask of taskDetails.subtasks">
      <ion-icon item-left *ngIf="subtask.done && notEditable" class="icon subtask-checked" name="checkbox" (click)="checkboxTapped(subtask)"></ion-icon>
      <ion-icon item-left *ngIf="!subtask.done && notEditable" class="icon" name="square-outline" (click)="checkboxTapped(subtask)"></ion-icon>
      <ion-icon item-left *ngIf="!notEditable" class="icon" name="close" [class.subtask-checked]="subtask.done" (click)="removeSubtask(subtask)"></ion-icon>
      <ion-textarea fz-elastic #listItem [disabled]="notEditable" class="list-item-textarea" placeholder="Item ..." [class.subtask-checked]="subtask.done" (blur)="changeSubtask(subtask, listItem.value)" value="{{subtask.title}}"></ion-textarea>
		</ion-item>
	</ion-list>

  <ion-item *ngIf="!notEditable || noSubtasks" class="list-item list-item-ios">
		<ion-icon class="icon" item-left name="add" (click)="addSubtask(item.value)"></ion-icon>
		<ion-textarea fz-elastic #item class="list-item-textarea" placeholder="{{adderPlaceholder}}" (focus)="inputFocused()" (blur)="inputBlurred(item)" (keyup.enter)="enterTapped(item)"></ion-textarea>
	</ion-item>

  <ion-label class="title note-title">Notes</ion-label>
  <hr class="divider">
  <ion-textarea fz-elastic #notes [disabled]="notEditable" class="notes" placeholder="..." (blur)="changeText('notes', notes.value)" value="{{taskDetails.notes}}"></ion-textarea>

</ion-content>
<ion-footer class="hide-on-keyboard-open">
  <ion-toolbar>
    <progress-indicator></progress-indicator>
  </ion-toolbar>
</ion-footer>
